
/* Show it is fixed to the top */
body {
  /*min-height: 75rem;*/
  padding-top: 4.5rem;
}

.hike-details {
    display: flex;
    height: 100%;
}



/* element that contains the map. */
#map {
  height: 100%;
}
