
/* Show it is fixed to the top */
body {
  /*min-height: 75rem;*/
  padding-top: 4.5rem;
}

.hike-details {
    height: 100%;
}



/* element that contains the map. */
#map {
  height: 100%;
}


/* Homepage layout */
.card-header {
    height: 225px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: white;
}
