
/* Show it is fixed to the top */
body {
  padding-top: 4.5rem;
}
@font-face {
  font-family: james-stroker-font;
  src: url(../JamesStroker-jEZMO.ttf);
}
h1{
    font-family: james-stroker-font;
    font-size: 80px;
    color: #ffffff;
    text-align: center;

}

h2{
   font-family: james-stroker-font;
   color: #7f0263;
   text-align: center;
   font-size: 45px;
}

h3{
    font-family: james-stroker-font;
   color: hsl(313,96%,25%); 
   text-align: left;
   font-size: 25px;
}
nav{
    background-color: #7f0263;
}
a.navbar-brand {
    margin-right: 5rem;
}

/* Hero- Mourne info */

/* @font-face {
  font-family: genera-font;
  src: url(../Colombia-Rp0DV.ttf);
} */



.hike-details {
    height: 100%;
}



/* element that contains the map. */
#map {
  height: 100%;
}


/* Homepage layout */

.hero-image {
    background-size: cover;
    display: flex;
    width: 100%;
    background-position: center;
}


.card {
    height: 100%;
}

.card-header {
    height: 225px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: white;
}

.card-body {
    display: flex;
    flex-direction: column;
}